/*Los estilos de tu proyecto */
/*
  Naranja fondos #fb9200;
  MArron fondos #3F2919;
  */
  * {
    font-family: 'Lato', sans-serif;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  #overlay{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #fb9200;
    z-index:1001;
  }

  #overlay img{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 30em;
    height: 30em;
    margin-bottom: 2em;
  }


  #circle{
    display: flex;
    justify-content:center;
    align-items: center;
  }

  .navbar-default .navbar-toggle {
    border-color: white;
    float: left;
    margin-top: 1.5em;
  }
  .first-section {
    width: 100%;
    background-position: center bottom;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
  }

 .navbar-default{
   background-color: #fb9200;
   border: none;
   padding: 1%;
   height: 15%;
 }
 .navbar-default .navbar-nav>li>a {
   color: white !important;
   margin-left: 20px;
   margin-top: 1em;
 }
 .navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #e7e7e7;
  background-color: #fb9200;
}
.first-section h2 {
  font-size: 40px;
  margin: 10px;
  color: white;
}
#logo{
	margin-top: 1em;

}

#logo p{
  font-size: 2em;
  font-weight: 600;
  margin: 0;
  padding-bottom: 1em;
  color: white;
}

.dentro
{
  margin-top: 1em;
}

/*estilo general de la seccion*/
.pantallaPerfil
{
  width: 100%;
  height: auto;
}

/*estilo logo*/
.logo
{
  margin-top: 1em;
}

.logo p{
  font-size: 2em;
  font-weight: 600;
  margin: 0;
  padding-bottom: 1em;
  color: #3F2919;
}

/*
 * SECCION DEL PERFIL DE LA PERSONA
*/

/*estilo caja description*/
.cajaDescription
{
  padding: 1em 4em;
}
/*foto*/
.foto
{
  background-color: #fb9200;
  padding-top: 1em;
  color: white;

}

/*estilo de foto perfil*/
.fotoPerfil{
  height: 100%;
  width: 10em;
  background-color: #fb9200;
  margin: 0 10% 10% 45%;
  border-radius: 3em;
  border: 2px solid white;
  text-align: center;
}

/*Estilo nombre usuario*/
.nombreUsuario
{
  text-align: center;
  font-size: 3em;
  color: #3F2919;
  margin-top: 1em;
  font-weight: 700;
}
/*estilo de los que te siguen y sigues*/
.follow
{
  text-align: center;
  font-size: 1.2em;
  color: #3F2919;
}

/*estilos de descripcion de la persona*/
.description
{
  text-align: justify;
  font-size: 1.5em;
  color: #3F2919;
  outline: 1px solid;
  padding: 1em
}

/*Estilo icono para devolverse*/
.iconBack
{
  font-size: 3em;
  cursor: pointer;
  color: white;
  margin: 1em 1em;
}

.iconBack:hover
{
  font-size: 3em;
  cursor: pointer;
  color: #ffff;
  margin: 1em 1em;
}

*
 * SECCION DE AMIGOS Y NOTICIAS
*/
/*general*/
.news
{
 /* display: flex;
  flex-wrap: nowrap;*/
}

/*estilo fotos de amigos*/
.amigo
{
  height: 4em;
  border-radius: 5em;
}

/*Estilo caja de los amigo*/
.amigooo
{
  padding: 1em;
/*  border-top: 0.5px solid #fb9200;
  border-right: 0.5px solid #fb9200;*/
  border-radius: 5px; 
}

.amigooo:hover
{
  padding: 1em;
  /*border-top: 0.5px solid #fb9200;
  border-right: 0.5px solid #fb9200;*/
  background-color: rgba(211, 144, 87, 0.4); 
}

/*Estilo  nombre amigo*/
.nombreAmigo
{
  font-size: 1.5em;
  margin: 0.8em 0 0 2em;
}

.tituloAmigos
{
  font-size: 2em;
  text-align: center;
}


/*NOTICIAS*/

/*estilo caja comentarios, donde se escribe el post*/
.comments
{
  /*border: 1px solid #000;*/
  border-radius: 2em;
  height: 10em;
  width: 95%;
  text-align: center;
  background-color: rgba(196, 200, 201, 0.3); 
}

/*estilo textarea */
.comments textarea
{
  min-height: 60px;
  max-height: 100px;
  min-width: 60%;
  max-width: 100%;
  margin: 1em 0 1em 1em;
}

/*estilo titulo*/
.titleNew
{
  margin-left: 3em;
  font-size: 2em;
}

/*estilo foto del posteo*/
.fotoPost
{
  height: 4em;
  border-radius: 5em;
  margin-bottom: 4em;
}

/*estilo input del post*/
.tituloInput
{
  width: 4em;
}

/*Estilo contenedor donde va el comentario creado*/
#cont 
{
  width: 95%;
/*  margin: 0 auto;*/
  color: #000;
  text-align: left;
  margin-top: 2em;
}

/*contenedor de la caja*/
#cont div 
{
  display: block;
  padding-left: 1em;
  padding: 1em 0.5em;
  margin-bottom: 2em;
  border-radius: 2em;
  /*outline: 0.1em solid #000;*/
  background-color: rgba(196, 200, 201, 0.3); 
}

/*estilo boton comentario*/
.btn-comentario
{
  height: 2.5em;
  width: 5.5em;
  padding: 0.5em;
  background-color: #fb9200;
  text-align: center;
  border-radius: 2em;
}

.btn-comentario:hover
{
  color: #fb9200;
  background-color: #3F2919;
}

/*estilo boton comentario*/
#btn-comentario
{
  height: 2.5em;
  width: 6em;
  padding: 0.5em;
  background-color: #fb9200;
  text-align: center;
  border-radius: 2em;
}

#btn-comentario:hover
{
  color: #fb9200;
  background-color: #3F2919;
}

/*estilo icono camara*/
.icon
{
  height: 4em;
  width: 4em;
}

/*Estilo de comentarios de amigos*/
.friendPost
{
/*  border: 1px solid #000;*/
  padding: 1em;
  margin-bottom: 1em;
  width: 95%;
  border-radius: 1em;
  background-color: rgba(196, 200, 201, 0.3); 
}

/*Estilo foto en el comentario*/
.loveImg
{
  height: 6em;
  border-radius: 1em;
  margin-right: 1em;
}

/*estilo boton subir foto en modal*/
.btn-subirFoto
{
  height: 2.5em;
  width: 6em;
  padding: 0.5em;
  background-color: #fb9200;
  text-align: center;
  border-radius: 2em;
}

.btn-subirFoto:hover
{
  color: #fb9200;
  background-color: #3F2919;
}

/*estilos iconos corazon y basura*/
.heart, .trash 
{
  margin:1em;
  float: right;
  cursor: pointer;
  height: 1em;
}

.trash:hover 
{
  color: #1DA1F2;
  cursor: pointer;
}

/*color corazon al hacer click*/
.red {
  color: red;
  cursor: pointer;
}

  .caption img{
    border-radius: 50%;
    height: 4em;
    width: 4em;

  }

  /*circulos de colores*/
  .circulos{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ch-grid {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
  }

  .ch-grid:after,
  .ch-item:before {
    content: '';
    display: table;
  }

  .ch-grid:after {
    clear: both;
  }

  .ch-grid li {
    width: 220px;
    height: 220px;
    display: inline-block;
    margin: 20px;
  }
  .ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: default;
    box-shadow: 
    inset 0 0 0 16px rgba(255,255,255,0.6),
    0 1px 2px rgba(0,0,0,0.1);
    transition: all 0.4s ease-in-out;
  }
  .ch-img-1 { 
    background-image: url(../images/restaurants/mexicana4.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }

  .ch-img-2 { 
    background-image: url(../images/restaurants/mexicana4.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }

  .ch-img-3 { 
    background-image: url(../images/restaurants/japonesa1.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }
  .ch-img-4 { 
    background-image: url(../images/restaurants/italian-1.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }

  .ch-img-5{ 
    background-image: url(../images/restaurants/venezolana5.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

  }


  .ch-info {
    position: absolute;
    background: rgba(255, 127, 0, .6784313725490196);
    width: inherit;
    height: inherit;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
    text-align: center;

  }

  .ch-info h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;
    margin: 0 30px;
    padding: 45px 0 0 0;
    height: 140px;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow: 
    0 0 1px #000, 
    0 1px 2px rgba(0,0,0,0.3);
  }
  .ch-info p {
    color: #fff;
    padding: 10px 5px;
    font-style: italic;
    margin: 0 30px;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.5);
    opacity: 0;
    transition: all 1s ease-in-out 0.4s;
  }

  .ch-info p a {
    display: block;
    color: rgba(255,255,255,0.7);
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    padding-top: 4px;
    font-family: 'Open Sans', Arial, sans-serif;
  }

  .ch-info p a:hover {
    color: rgba(255,242,34, 0.8);
  }


  .ch-item:hover {
    box-shadow: 
    inset 0 0 0 1px rgba(255,255,255,0.1),
    0 1px 2px rgba(0,0,0,0.1);
  }


  .ch-item:hover .ch-info {
    transform: scale(1);
    opacity: 1;
  }

  .ch-item:hover .ch-info p {
    opacity: 1;
  }


  .thumbnail img{
    height: 10em;
    width: 18em;
    margin-top: 1em;
  }
